<?xml version="1.0" encoding="utf-8" ?>
<!--版本说明: V1-未设置归档-->
<!--设计目标：
	1.在XXX时间(年月日)里XXX记录器记录了XXX事件的XXX级别的日志消息，如Logs/20250101/MainApp/Debug.log
	2.日志记录格式：时间(年月日时分秒毫秒)|线程名|线程ID|消息 异常信息
-->
<!--自动重载且验证配置文件-->
<nlog autoReload="true"
	  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">
	
	<!--基于NlogV6，添加扩展NLog.Targets.ConcurrentFile支持 ConcurrentWrites-->
	<extensions>
		<add assembly="NLog.Targets.ConcurrentFile"/>
	</extensions>

	<targets async="true">
		<!-- 文件日志，参考:https://github.com/NLog/NLog/wiki/File-target -->
		<!--
		autoFlush - 确保在每条日志消息后刷新文件缓冲区，从而避免在应用程序意外崩溃或退出时丢失关键日志消息
		keepFileOpen - 保持文件打开
		enableFileDelete - 指示是否允许删除日志文件
		concurrentWrites - 并发写入支持
		-->
		<target xsi:type="File"
				name="defaultFile"
				encoding ="utf-8"
				autoFlush = "true"
                fileName="${basedir}/Logs/${shortdate}/${logger}/${level:uppercase=true}.log"
				layout="${longdate}|${threadname}:${threadid}|${message} ${exception:format=tostring}"
				keepFileOpen="true"
				enableFileDelete ="true"
                ConcurrentWrites="true">
		</target>

		<!-- 控制台日志 -->
		<target name="defaultConsole" xsi:type="ColoredConsole"
                layout="${longdate}|${logger}|${level:uppercase=true}|${threadname}:${threadid}|${message:withexception=true} ${exception:format=tostring}">
			<highlight-row foregroundColor="Gray"   condition="level == LogLevel.Debug" />
			<highlight-row foregroundColor="Green"  condition="level == LogLevel.Info" />
			<highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn" />
			<highlight-row foregroundColor="Red"    condition="level == LogLevel.Error" />
			<highlight-row foregroundColor="Red" backgroundColor="White" condition="level == LogLevel.Fatal" />
		</target>

		<!-- Json格式化,代码如:_logger.Info("person info: {@Info}", new Person()); -->
		<target name="jsonFile" xsi:type="File" fileName="${basedir}/RealLogs/${shortdate}/${logger}/${level:uppercase=true}.jsonLog">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
			</layout>
        </target>
	</targets>

	<!-- 过滤规则 -->
	<rules>
		<!--所有日志-->
		<logger name="*" minlevel="Trace" writeTo="defaultConsole" />
		<!--专门写入Json，defaultConsole处理但其他logger不处理-->
		<logger name="ToJson" minlevel="Trace" writeTo="jsonFile" final="true"/>
		<!--所有日志，除ToJson-->
		<logger name="*" minlevel="Debug" writeTo="defaultFile" />
	</rules>
</nlog>
