<?xml version="1.0" encoding="utf-8" ?>
<!--版本说明: V3-自动归档且自动压缩-->
<!--设计目标：
	1.在XXX时间(年月日)里XXX记录器记录了XXX事件的XXX级别的日志消息，如Logs/Active/MainApp/Debug.log
	2.日志记录格式：时间(年月日时分秒毫秒)|线程名|线程ID|消息 异常信息
	3.归档功能:Logs/Active/下为最新未归档日志,Logs/Archive/为已归档日志,超出一定规则后删除旧归档日志
-->
<!--自动重载且验证配置文件,并设置仅记录内部错误-->
<nlog
	  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Error" internalLogFile="${basedir}/Logs/nlog-internal.log">

	<!--基于NlogV6，添加扩展NLog.Targets.ConcurrentFile支持 ConcurrentWrites
		NlogV6更新日志参考: https://nlog-project.org/2025/04/29/nlog-6-0-major-changes.html-->
	<extensions>
		<add assembly="NLog.Targets.ConcurrentFile"/>
	</extensions>

	<!--默认为异步写入-->
	<targets async="true">
		<!-- 文件日志，参考:https://github.com/NLog/NLog/wiki/File-target -->
		<!--
		autoFlush - 确保在每条日志消息后刷新文件缓冲区，从而避免在应用程序意外崩溃或退出时丢失关键日志消息
		keepFileOpen - 保持文件打开
		enableFileDelete - 指示是否允许删除日志文件
		concurrentWrites - 并发写入支持
		-->
		<target xsi:type="File"
				name="defaultFile"
				encoding ="utf-8"
				autoFlush ="true"
                fileName="${basedir}/Logs/Active/${logger}/${level}.log"
				layout="${longdate}|${threadname}:${threadid}|${message} ${exception:format=tostring}"
				keepFileOpen="true"
				enableFileDelete ="true"
                ConcurrentWrites="true"
				archiveFileName ="${basedir}/Logs/Archive/${logger}/{####}_${level}_.zip"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
				archiveAboveSize ="10485760"
				archiveNumbering="DateAndSequence"
				maxArchiveDays="32"
				maxArchiveFiles="10000"
				EnableArchiveFileCompression="true">
			<!--归档设置: 
				1.输出格式为: Logs/Archive/20251220_Info_MainApp.log
				2.最终效果为: 每日/超出10M归档到Logs/Archive/下，超出32天/超出10000个文件后删除旧归档
				archiveFileName - 用于存档的文件名称
				archiveEvery：指示是否在每次经过指定时间时自动归档日志文件
				archiveSuffixFormat - 归档文件附加的文件名后缀，与concurrentWrites冲突不使用
				archiveAboveSize - 日志文件超过此字节大小后将自动归档
				archiveNumbering - 文件归档的编号方式: 
					DateAndSequence日期和序列的组合(有20250101_001.log,20250101_002.log...)
					Date日期(不会有多个文件而是文件内追加，只有20250101.log)
				maxArchiveDays - 应保留的归档文件的最大时长
				maxArchiveFiles - 应保留的最大归档文件数量-->
		</target>

		<!-- 控制台日志 -->
		<target xsi:type="ColoredConsole"
				name="defaultConsole"
                layout="${longdate}|${logger}|${level}|${threadname}:${threadid}|${message} ${exception:format=tostring}">
			<highlight-row foregroundColor="Gray"   condition="level == LogLevel.Debug" />
			<highlight-row foregroundColor="Green"  condition="level == LogLevel.Info" />
			<highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn" />
			<highlight-row foregroundColor="Red"    condition="level == LogLevel.Error" />
			<highlight-row foregroundColor="Red" backgroundColor="White" condition="level == LogLevel.Fatal" />
		</target>

	</targets>

	<!-- 过滤规则 -->
	<rules>
		<!--所有日志，Trace及以上-->
		<logger name="*" ruleName="consoleRule" minlevel="Trace" writeTo="defaultConsole" />
		<!--所有日志，Debug及以上-->
		<logger name="*" ruleName="fileRule" minlevel="Debug" writeTo="defaultFile" />
	</rules>
</nlog>